
<br>
<%= @game.player2.name.capitalize%>: <%= @game.player2.hp%> HP
<br>
<%= @game.player1.name.capitalize%>: <%= @game.player1.hp%> HP
<br>
<%= @game.attacker.name %>'s turn
<br>
<a href="./play">OK</a>
